name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # windows-latest is windows-2019 which carries a pretty old version of ruby (2.5)
        # we need at least ruby 2.7 for the tests
        # instead of dealing with installing a modern version of ruby on 2019, we'll just use windows-2022 here
        os: [ubuntu-latest, windows-2022, macos-latest]

    steps:
      - name: clone
        uses: actions/checkout@v3

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
        with:
          cmake-version: '3.25.x'

      - name: unit tests
        run: |
          cmake -Stest -Bbuild/test
          cmake --build build/test --target test-verbose

      - name: integration tests
        run: ruby test/integration/runner.rb
        env:
          CPM_INTEGRATION_TEST_DIR: ./build/integration
